extends layout

block content
    style.
        .jumbotron{
            background: url('/img/details.jpg') no-repeat center center;
            background-size: 100% auto;
            height: 500px;
            border-radius: 0!important;
        }
    .row
        .col-sm-12
            h2 Details
            .jumbotron.jumbotron-fluid
            for offre in offreDetails
                    h3= offre.titre + ' (' + offre.type + ')'
                    h4= "Addresse: " + offre.adresse
                    h3 Description
                    div= offre.description
                    h3 Date
                    div= 'Le ' + offre.date
                    br
                    if (user.profile.statut === 'Entreprise')
                        form.form-horizontal(action="/postuler", method='POST')
                                input(type='hidden', name='_csrf', value=_csrf)
                                input(type='hidden', name='offre', value=offre._id)
                                input(type='hidden', name='user', value=user._id)
                                button.btn.btn.btn-primary(type='submit') Postuler
